* {
  text-align: center;
  padding: 0px;
}

.videoPlayerContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  height: 200px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.controls__container {
  width: 45%;
}

.controls__container button {
  height: 100px;
  width: 100px;
  margin: 10px;
}

.chat__container {
  width: 45%;
}
